#header {
    text-align: center;
    font-size: 85px;
	font-family: "Dancing Script", sans-serif;
	color: #9F1DB2;
	text-shadow: 2px 2px black;
	
}

/*---------------------Fade in jumbotron------------------*/
#jumbotron {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: .5s;
/*  -webkit-animation-iteration-count: infinite;*/
	background: rgba(255,255,255,0.7);
	margin-top: 25px;
	
}

body { 
  background: url(images/bees.jpeg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
	font-family: "Dancing Script", sans-serif;
	color: #fff;
	text-shadow: 2px 2px black;
	font-size: 85px;
	left: 60px;
	position: relative;
}
/*	-----------------MEDIA For devices 400px and larger:-------------------*/
@media only screen and (min-device-width: 400px) {

#title {
	font-family: "Dancing Script", sans-serif;
	color: #fff;
	text-shadow: 2px 2px black;
	font-size: 85px;
	left: 60px;
	position: relative;
}	
	
#header {
    text-align: center;
    font-size: 85px;
	font-family: "Dancing Script", sans-serif;
	color: #9F1DB2;
	text-shadow: 2px 2px black;
	
	
}

/*---------------------Fade in jumbotron------------------*/
#jumbotron {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
/*  -webkit-animation-iteration-count: infinite;*/
	background: rgba(255,255,255,0.7);
	margin-top: 25px;
	
}
body { 
  background: url(images/bees.jpeg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}