#header {
    text-align: center;
    font-size: 85px;
	font-family: "Dancing Script", sans-serif;
	color: #9F1DB2;
	text-shadow: 2px 2px black;
	
}

/*---------------------Fade in jumbotron------------------*/
#jumbotron {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: .5s;
/*  -webkit-animation-iteration-count: infinite;*/
	background: rgba(255,255,255,0.7);
/*	margin-top: 25px;*/
	
}
/*---------------------------------------*/

body { 
  background: url(images/bees.jpeg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding-bottom: 10%;
}

#title {
	font-family: "Dancing Script", sans-serif;
	color: #fff;
	text-shadow: 2px 2px black;
	font-size: 85px;
	left: 60px;
	position: relative;
}
footer {
		color: white;
		font-family: "Quicksand", sans-serif;
		position: relative;
		right: 0;
		bottom: 0;
		left: 0;
		/*padding: 1rem;*/
		text-align: center;
		text-shadow: 2px 2px black;
        clear: both;
/*	background: rgba(255,255,255,0.7); use only if you want to add the translucent box*/
}

/*	-----------------MEDIA For phonesr:-------------------*/
@media only screen and (max-width: 768px) {
	[class*="col-"] {
    width: 100%;
}

#title {
	font-family: "Dancing Script", sans-serif;
	color: #fff;
	text-shadow: 2px 2px black;
	font-size: 85px;
	left: 60px;
	position: relative;
}	
	
#header {
    text-align: center;
    font-size: 85px;
	font-family: "Dancing Script", sans-serif;
	color: #9F1DB2;
	text-shadow: 2px 2px black;
	
	
}

/*---------------------Fade in jumbotron------------------*/
#jumbotron {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
/*  -webkit-animation-iteration-count: infinite;*/
	background: rgba(255,255,255,0.7);
	margin-top: 25px;
	
}
/*	--------------------------------------------*/
	
body { 
  background: url(images/bees.jpeg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
	
footer {
		color: white;
		font-family: "Quicksand", sans-serif;
		position: relative;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 1rem;
		text-align: center;
		text-shadow: 2px 2px black; 
/*	background: rgba(255,255,255,0.7); use only if you want to add the translucent box*/
}
}