body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
	background: url(images/bees.jpeg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    padding-bottom: 80px;
     
}

.container {
    margin-right: 30px;
}