body {
     
}

header {
    margin:  auto 55px;
    text-align: center;
    font-size: 95px;
	font-family: "Dancing Script", sans-serif; 
	color: #9F1DB2;
    
}

.container{
    margin: auto;
    width: 100%;
}
#calendar {
    margin: auto;
    width: 100%;
    height: auto;
}