body {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

header {
    margin-top: 55px;
    text-align: center;
    font-size: 55px;
}

h2 {
    margin-top: 45px;
    text-align: center;
}

img {
    margin-top: 75px;
    margin-left: 460px;
    width: 350px;
    height: 350px;    
}

p {
    text-align: center;
}


#box {      
   margin-top: 255px;    
   width: 375px;
   height: 215px;
   padding: 5px;    
   border:1px solid green;
    background: rgba(241,147,255,0.3);
    
}

