#searchBar {
	float: right;
	right: 20px;
}	

#btns {
	background: black;
	color: white;

}

header {
    margin-top: 10px;
	margin-left: 85px;
    text-align: center;
    font-size: 85px;
	font-family: "Dancing Script", sans-serif;
	color: #fff;
	text-shadow: 2px 2px #000;
}

h3 {
    font-family: "Quicksand", sans-serif;
	font-size: 12px;
}

body { 
  background: url(images/bees.jpeg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.container {
   margin-top: 25px;
   margin-left: 30px;	
   width: 295px;
   height: 655px;
   padding: 5px; 
/*   background: rgba(255,255,255,0.7);*/
}
#banana{

}

#chicken {
    
    
}

#flatbread{
}

footer {
		color: white;
		font-family: "Quicksand", sans-serif;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 1rem;
		text-align: center;
		text-shadow: 2px 2px black; 
/*	background: rgba(255,255,255,0.7); use only if you want to add the translucent box*/
}

/*	-----------------MEDIA For devices 400px and larger:-------------------*/
@media only screen and (min-device-width: 400px) {
  #searchBar {
	float: right;
	right: 20px;
}	

#btns {
	background: black;
	color: white;

}
body { 
  background: url(images/bees.jpeg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}	

  .container{
   margin-top: 25px;
   margin-left: 30px;	
   width: 375px;
   height: 775px;
   padding: 5px; 
/*   background: rgba(255,255,255,0.7);*/
}

#banana{

}

#chicken {
    
    
}

#flatbread{
    
}
/*----------*/
header {
    margin-top: 15px;
	margin-left: 85px;
    text-align: center;
    font-size: 85px;
	font-family: "Dancing Script", sans-serif;
	color: #fff;
	text-shadow: 2px 2px #000;
}

h3{
    font-family: "Quicksand", sans-serif;
	font-size: 12px;
}
footer {
		color: white;
		font-family: "Quicksand", sans-serif;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 1rem;
		text-align: center;
		text-shadow: 2px 2px black; 
/*	background: rgba(255,255,255,0.7); use only if you want to add the translucent box*/
}
}